<h3><%=@review.name%></h3>

<p>Neighborhood: <%=@review.neighborhood%></p>
<p>Rating: <%=@review.rating%> Stars</p>
<p>Review: <%=@review.content%></p>
<p>Has Work Space?: <%=@review.work_space%></p>

<form action="/reviews/<%=@review.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Review">
</form>
<br>
<p><a href='/reviews/<%=@review.id%>/edit'>Edit this Coffee Shop Review</a></p>
<p><a href='/reviews'>See all of my reviews</a></p>
<p><a href='/logout'>Log Out</a></p>